.testimonial {
  &__quotes {
      padding: 148px 0 174px 0;
      @include flex(true);
      & figure {
          @include boxModel(20%);
          @include border(false,50%);
          @include position(relative);
          flex-shrink: 0;
          @include responsive(map.get($devices,"ipad")){
            @include boxModel(40%);
          }
          img {
              @include border(false,50%);
          }
          &::after {
              padding: 21px;
              @include border(false,50%);
              @include display(inline-block);
              @include position(absolute,65%,0);
              background-color: map.get($colors,"greenShade");
              @include font( map.get($colors,"white",false,21px));
              @include icon('\f10d');
              @include responsive(map.get($devices,"ipad")){
               padding: 10px;
              }
          }
      }
      @include responsive(map.get($devices,"ipad")){
          padding: 80px 0;
        @include flex(false,false,center,center,column);
      }
  }
  &__feedback {
      margin: 0 10%;
      @include flex(true,false,false,false,column);
      .author {
          @include font( map.get($colors,"brown",false,16px,false,capitalize));
      }
  }
  &__title {
      padding: 53px 0 23px 0;
      @include font( false,false,18px,500);
      line-height: 1.7;
  }
  &__controls {
    @include boxModel(15%);
      padding-top: 61px;
      @include flex(true,false,false,false,column);
  }
  &__brands {
      padding-bottom: 32px;
      @include flex(true);
      @include responsive(map.get($devices,"ipad")){
        @include flex(false,false,center,center,column);
      }
  }
}
.control {
  padding: 21px;
  margin-bottom: 10%;
  @include border(false,50%);
  @include display(block);
  @include font(map.get($colors,"greenShade"),false,16px);
  background-color: map.get($colors,"white");
  text-indent: -9999px;
    &:nth-child(1){
          &::after {
          @include icon('\f105',true);
          @include reverseResponsive(map.get($devices,"desktop")){
          &:hover::after{
              color: #000;
          }
      }
      }
  }
  &:nth-child(2){
      &::after {
        @include icon('\f104',true);
      }
     @include reverseResponsive(map.get($devices,"desktop")){
      &:hover::after{
          color: #000;
      }
     }
  }
}
.brand {
  margin-right: 5%;
  &:last-child {
      margin-right: 0;
  }
  figure {
      max-height: 41px;
      overflow: hidden;
      img {
          object-position: center;
      }
  }
  @include responsive(map.get($devices,"ipad")){
    padding-bottom: 20px;
    margin-right: 0;
  }
}