/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.wrapper {
  max-width: 1360px;
  width: 80%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 21px;
  position: absolute;
  top: 0;
}
.header__wrapper {
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.header__navigation {
  flex: 1;
  flex-shrink: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
}
.header__nav-item {
  padding: 15px 0;
  margin-right: 3.5%;
}
.header__nav-item:nth-last-child(3) {
  margin-right: 1%;
}
.header__nav-item a {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item a:hover {
    color: #33d4d6;
  }
}
.header__nav-item:nth-child(4) {
  width: 7%;
  margin-right: 2%;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:nth-child(4):hover .pages {
    display: none;
    z-index: -1;
  }
}
.header__nav-item:nth-child(4) a {
  text-transform: uppercase;
}
.header__nav-item:nth-child(5) {
  width: 7%;
  margin-right: 2%;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:nth-child(5):hover .blogs {
    display: flex;
    z-index: -1;
  }
}
.header__nav-item:nth-last-child(1) {
  width: 17%;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  text-align: right;
}
.header__nav-item:nth-last-child(1) a {
  color: #33d4d6;
  font-size: 12px;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:nth-last-child(1) a:hover {
    border-color: #fff;
    background-color: #000;
    color: #fff;
  }
}
.header__nav-item:nth-last-child(1):nth-last-child(2) {
  width: 25%;
  margin-right: 0;
  flex-shrink: 0;
}
.header__nav-item:nth-last-child(1):nth-last-child(2) a {
  width: 100%;
  text-align: right;
}
.header__nav-item:nth-last-child(1):nth-last-child(2) a::before {
  padding-right: 2%;
  color: #33d4d6;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f095";
}

nav {
  flex: 1;
  flex-shrink: 0;
}

.logo {
  width: 25%;
  padding-top: 15px;
}
.logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .logo a::before {
    padding: 8px;
    border-radius: 50%;
    background-color: #1daeeb;
    color: #fff;
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\e1b0";
  }
}

.arrow::after {
  padding-left: 10%;
  color: #fff;
  font-size: 10px;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f107";
}
@media only screen and (min-width: 1024px) {
  .arrow:hover::after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f106";
  }
}

.blogs,
.pages {
  display: none;
  flex-direction: column;
}

.btn-apply {
  padding: 15px 10%;
  border: 1px solid #33d4d6;
  border-radius: 7px;
  display: inline-block;
  color: #33d4d6;
  text-align: center;
  text-transform: uppercase;
}

.menu {
  display: none;
}

@media only screen and (max-width: 995px) {
  .header .nav-wrapper {
    width: 99%;
  }
  .header .logo {
    width: 21%;
  }
  .header__navigation {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__nav-item {
    margin-right: 2%;
  }
  .header__nav-item:nth-last-child(2) {
    width: 21%;
    margin: 0 1%;
  }
  .header__nav-item:nth-last-child(2) a {
    text-align: center;
  }
  .header__nav-item:nth-last-child(1) {
    width: 20%;
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    width: 85%;
  }
}
.banner {
  padding: 200px 0;
  background: url("../images/bg.jpg") rgba(0, 0, 0, 0.4) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

/*# sourceMappingURL=style.css.map */
