/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.wrapper {
  max-width: 1360px;
  width: 80%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 21px;
  position: absolute;
  top: 0;
}
.header__wrapper {
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.header__navigation {
  flex: 1;
  flex-shrink: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
}
.header__nav-item {
  padding: 15px 0;
  margin-right: 3.5%;
}
.header__nav-item:nth-last-child(3) {
  margin-right: 1%;
}
.header__nav-item a {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item a:hover {
    color: #33d4d6;
  }
}
.header__nav-item:nth-child(4) {
  width: 7%;
  margin-right: 2%;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:nth-child(4):hover .pages {
    display: none;
    z-index: -1;
  }
}
.header__nav-item:nth-child(4) a {
  text-transform: uppercase;
}
.header__nav-item:nth-child(5) {
  width: 7%;
  margin-right: 2%;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:nth-child(5):hover .blogs {
    display: flex;
    z-index: -1;
  }
}
.header__nav-item:nth-last-child(1) {
  width: 17%;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  text-align: right;
}
.header__nav-item:nth-last-child(1) a {
  color: #33d4d6;
  font-size: 12px;
}
@media only screen and (min-width: 1024px) {
  .header__nav-item:nth-last-child(1) a:hover {
    border-color: #fff;
    background-color: #000;
    color: #fff;
  }
}
.header__nav-item:nth-last-child(1):nth-last-child(2) {
  width: 25%;
  margin-right: 0;
  flex-shrink: 0;
}
.header__nav-item:nth-last-child(1):nth-last-child(2) a {
  width: 100%;
  text-align: right;
}
.header__nav-item:nth-last-child(1):nth-last-child(2) a::before {
  padding-right: 2%;
  color: #33d4d6;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f095";
}

nav {
  flex: 1;
  flex-shrink: 0;
}

.logo {
  width: 25%;
  padding-top: 15px;
}
.logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .logo a::before {
    padding: 8px;
    border-radius: 50%;
    background-color: #1daeeb;
    color: #fff;
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\e1b0";
  }
}

.arrow::after {
  padding-left: 10%;
  color: #fff;
  font-size: 10px;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f107";
}
@media only screen and (min-width: 1024px) {
  .arrow:hover::after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f106";
  }
}

.blogs,
.pages {
  display: none;
  flex-direction: column;
}

.btn-apply {
  padding: 15px 10%;
  border: 1px solid #33d4d6;
  border-radius: 7px;
  display: inline-block;
  color: #33d4d6;
  text-align: center;
  text-transform: uppercase;
}

.menu {
  display: none;
}
.menu:hover {
  color: #33d4d6;
}

@media only screen and (max-width: 995px) {
  .header .nav-wrapper {
    width: 99%;
  }
  .header .logo {
    width: 21%;
  }
  .header__navigation {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__nav-item {
    margin-right: 2%;
  }
  .header__nav-item:nth-last-child(2) {
    width: 21%;
    margin: 0 1%;
  }
  .header__nav-item:nth-last-child(2) a {
    text-align: center;
  }
  .header__nav-item:nth-last-child(1) {
    width: 20%;
  }
}
@media only screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
  .logo {
    width: 50%;
    padding-top: 0;
  }
  .menu {
    padding-right: 5%;
    display: block;
    display: block;
    color: #fff;
    font-size: 21px;
    text-indent: -9999px;
  }
  .menu::before {
    font-family: "FontAwesome";
    font-weight: 900;
    float: right;
    text-indent: 0;
    content: "\f0c9";
  }
  .information {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
  }
  .how-it-works {
    padding: 40px 0;
    margin: 0;
    text-align: center;
  }
  .how-it-works h2 {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    width: 85%;
  }
}
.banner {
  padding: 200px 0;
  background: url("../images/bg.jpg") rgba(0, 0, 0, 0.4) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner__information {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .banner__information {
    flex-direction: column;
  }
}
.banner__how-it-works {
  padding: 103px 0 87px 0;
}
.banner__how-it-works h2 {
  width: 80%;
  padding-bottom: 44px;
  color: #fff;
  font-size: 56px;
  text-transform: lowercase;
  line-height: 1.3;
}
.banner__how-it-works h2 span {
  color: #fff;
  font-size: 56px;
  text-transform: capitalize;
}
.banner__pay {
  padding-bottom: 46px;
  color: #9d989b;
  font-size: 16px;
  color: #9d989b;
  font-size: 16px;
}
.banner__month {
  padding: 14px 0 42px 0;
}

.info-btn {
  padding: 15px 4.5%;
  border-radius: 5px;
  background-color: #33d4d6;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .info-btn:hover {
    background-color: #fff;
    color: #33d4d6;
  }
}

form[name=contact-form] {
  width: 55.6%;
  padding: 56px 5% 53px 5%;
  background-color: #fff;
}

.form__title {
  color: #000;
  font-size: 30px;
  text-transform: capitalize;
}
.form__description {
  padding: 30px 0 45px 0;
  color: #9d989b;
  font-size: 16px;
}

select[name=amount],
select[name=month] {
  width: 100%;
  padding: 15px 4%;
  border: transparent;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px #fff;
}

select {
  padding: 0 5%;
  appearance: none;
  background: url("../images/darrow.png") right no-repeat;
  background-size: 20px;
  color: #9d989b;
  font-size: 16px;
}
select:focus {
  background: url("../images/uparrow.png") right no-repeat;
  background-size: 20px;
}

input[type=submit] {
  width: 100%;
  padding: 18px 0;
  border: transparent;
  border-radius: 5px;
  background-color: #33d4d6;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  input[type=submit]:hover {
    border-color: #33d4d6;
    background-color: #000;
  }
}

@media only screen and (max-width: ) {
  form[name=contact-form] {
    width: 80%;
    background-color: #fff;
  }
}
@media only screen and (max-width: ) {
  .information {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
  }
  .information__how-it-works {
    padding: 40px 0;
    margin: 0;
    text-align: center;
  }
  .information__how-it-works h2 {
    width: 100%;
    text-align: center;
  }
  form[name=contact-form] {
    width: 100%;
    padding: 10px 5%;
  }
}
@media only screen and (max-width: ) {
  .form__title {
    text-align: center;
  }
}
.plans {
  padding: 158px 0 149px 0;
}
.plans__title {
  padding: 18px 0 22px 0;
  position: relative;
  color: #011e38;
  font-size: 44px;
  text-align: center;
}
.plans__title::before {
  width: 58px;
  height: 3px;
  display: block;
  position: absolute;
  top: 0;
  left: 47%;
  background-color: #33d4d6;
  content: " ";
}
.plans__description {
  padding-bottom: 94px;
  justify-items: center;
  color: #9d989b;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.plans__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-items: center;
}
@media only screen and (max-width: 768px) {
  .plans__list {
    width: 100%;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.plan {
  width: 45%;
  padding: 47px 0 50px 0;
  border: 5px;
  background-image: linear-gradient(#098afc, #054680);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.plan a {
  padding: 15px 24%;
  border-radius: 5px;
  background-color: #33d4d6;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .plan a:hover {
    background-color: #fff;
    color: #33d4d6;
  }
}
.plan:nth-child(2) {
  margin: 0 3%;
}
@media only screen and (max-width: 768px) {
  .plan:nth-child(2) {
    margin: 40px 0;
  }
}
.plan:nth-child(2) .plan__icon::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f1b9";
}
.plan__icon {
  display: block;
  text-align: center;
  text-indent: -9999px;
}
.plan__icon::before {
  font-size: 70px;
  text-align: center;
}
.plan:nth-child(1) .plan__icon::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f66f";
}
.plan:nth-child(3) .plan__icon::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f02d";
}
.plan__title {
  padding: 65px 0 25px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.plan__amount {
  padding-bottom: 43px;
  color: #33d4d6;
  font-size: 26px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .plan {
    width: 100%;
  }
}

.benefits {
  width: 75%;
  padding-bottom: 73px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.benefit {
  width: 100%;
  padding-bottom: 15px;
  color: #fff;
  font-size: 16px;
}
.benefit:last-child {
  padding-bottom: 0;
}
.benefit::before {
  padding-right: 3%;
  color: #33d4d6;
  font-size: 8px;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f111";
}

.choose-us__why {
  padding-bottom: 128px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.choose-us__why figure {
  width: 55%;
}
@media only screen and (max-width: 768px) {
  .choose-us__why figure img {
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .choose-us__why figure {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .choose-us__why {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.choose-us__about-us {
  width: 48%;
  padding: 94px 0 86px 0;
  margin-left: 8.5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .choose-us__about-us {
    width: 100%;
  }
}
.choose-us__title {
  color: #011e38;
  font-size: 44px;
  text-transform: capitalize;
}
.choose-us__description {
  padding: 42px 0 27px 0;
  color: #9d989b;
  font-size: 16px;
}

.features {
  padding-bottom: 58px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.feature {
  padding-bottom: 15px;
  font-size: 16px;
}
.feature:last-child {
  padding-bottom: 0;
}
.feature::before {
  padding-right: 3%;
  color: #087de3;
  font-size: 8px;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f111";
}

.about-btn {
  width: 20%;
  padding: 15px 3.7%;
  border-radius: 5px;
  background-color: #33d4d6;
  color: #fff;
  font-size: fasle;
  text-align: center;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .about-btn:hover {
    background-color: #000;
  }
}
@media only screen and (max-width: 768px) {
  .about-btn {
    width: 40%;
  }
}

.how-it-works {
  padding: 154px 0 185px 0;
}
.how-it-works__description {
  padding-bottom: 96px;
  color: #9d989b;
  font-size: 16px;
  text-align: center;
}
.how-it-works__title {
  padding: 18px 0 22px 0;
  position: relative;
  color: #011e38;
  font-size: 44px;
  text-align: center;
}
.how-it-works__title::before {
  width: 58px;
  height: 3px;
  display: block;
  position: absolute;
  top: 0;
  left: 47%;
  content: " ";
}

.steps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  justify-items: center;
}
@media only screen and (max-width: 768px) {
  .steps {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.step {
  width: 33%;
}
@media only screen and (max-width: 768px) {
  .step {
    width: 100%;
    padding-bottom: 20px;
  }
}
.step:nth-child(2) {
  margin: 0 5%;
}
.step__number {
  padding: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ddf0ff;
  color: #33d4d6;
}
.step__title {
  padding: 25px 0 20px 0;
  font-family: fasle;
  font-size: 21px;
}
.step__description {
  color: #9d989b;
  font-size: 16px;
  line-height: 1.7;
}

.faq__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .faq__wrapper {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.faq__wrapper figure {
  width: 50%;
  max-height: 700px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .faq__wrapper figure {
    width: 100%;
  }
  .faq__wrapper figure img {
    height: 100%;
  }
}
.faq__frequent-question {
  width: 45%;
  padding: 140px 0;
  margin-left: 6%;
}
@media only screen and (max-width: 768px) {
  .faq__frequent-question {
    width: 80%;
  }
}
.faq__title {
  padding-bottom: 67px;
  font-size: 42px;
}

.faqs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.faqs__faq {
  width: 77%;
  margin-bottom: 25px;
  box-shadow: 0 1px #cdcdcd;
}
@media only screen and (max-width: 768px) {
  .faqs__faq {
    width: 100%;
  }
}
.faqs__title {
  padding-bottom: 17px;
  font-size: 18px;
}
.faqs__title ::before {
  padding-right: 5%;
  color: #454545;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f107";
}
.faqs__answer {
  width: 95%;
  padding: 17px 5% 37px 5%;
  display: none;
  color: #9d989b;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.active::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f106";
}

.active .faqs__answer {
  display: block;
}

.testimonial__quotes {
  padding: 148px 0 174px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.testimonial__quotes figure {
  width: 20%;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
  .testimonial__quotes figure {
    width: 40%;
  }
}
.testimonial__quotes figure img {
  border-radius: 50%;
}
.testimonial__quotes figure::after {
  padding: 21px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 65%;
  right: 0;
  background-color: #33d4d6;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f10d";
}
@media only screen and (max-width: 768px) {
  .testimonial__quotes figure::after {
    padding: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .testimonial__quotes {
    padding: 80px 0;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.testimonial__feedback {
  margin: 0 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.testimonial__title {
  padding: 53px 0 23px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}
.testimonial__controls {
  width: 15%;
  padding-top: 61px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.testimonial__brands {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .testimonial__brands {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.control {
  padding: 21px;
  margin-bottom: 10%;
  border-radius: 50%;
  display: block;
  color: #33d4d6;
  font-size: 16px;
  background-color: #fff;
  text-indent: -9999px;
}
.control:nth-child(1)::after {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f105";
}
@media only screen and (min-width: 1024px) {
  .control:nth-child(1)::after:hover::after {
    color: #000;
  }
}
.control:nth-child(2)::after {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f104";
}
@media only screen and (min-width: 1024px) {
  .control:nth-child(2):hover::after {
    color: #000;
  }
}

.brand {
  margin-right: 5%;
}
.brand:last-child {
  margin-right: 0;
}
.brand figure {
  max-height: 41px;
  overflow: hidden;
}
.brand figure img {
  object-position: center;
}
@media only screen and (max-width: 768px) {
  .brand {
    padding-bottom: 20px;
    margin-right: 0;
  }
}

.apply-for-loan {
  padding: 138px 0;
  margin: 142px 0;
  background: url("../images/laptop.jpg") rgba(0, 0, 0, 0.4) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.apply-for-loan .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .apply-for-loan .wrapper {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.apply-for-loan__title {
  width: 70%;
  color: #fff;
  font-size: 42px;
}
@media only screen and (max-width: 768px) {
  .apply-for-loan__title {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
}
.apply-for-loan__btn {
  flex: 1;
  flex-shrink: 0;
}

.apply-loan-btn {
  padding: 15px 8.7%;
  border-radius: 5px;
  background-color: #33d4d6;
  color: #fff;
  font-size: fasle;
  text-align: center;
  float: right;
}
@media only screen and (min-width: 1024px) {
  .apply-loan-btn:hover {
    background-color: #fff;
    color: #33d4d6;
  }
}

.footer {
  padding: 40px 20px;
}
.footer__links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .footer a:hover {
    color: #33d4d6;
  }
}

.link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.link a {
  padding: 5px 0;
  color: #000;
  font-size: 16px;
}
.link a.link__logo {
  padding-bottom: 30px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .link a.link__logo::before {
    padding: 8px;
    border-radius: 50%;
    background-color: #1daeeb;
    color: #fff;
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\e1b0";
  }
}
.link__title {
  padding-bottom: 30px;
  color: #000;
  font-family: fasle;
  font-size: 24px;
  font-weight: 500;
}
.link:nth-child(1) {
  flex-basis: 30%;
}
.link:nth-child(2) {
  flex-basis: 20%;
}
.link:nth-child(3) {
  flex-basis: 20%;
}
.link:nth-child(4) {
  flex-basis: 30%;
}

.copyright {
  padding-top: 40px;
  text-align: center;
}
.copyright a {
  color: #33d4d6;
}
@media only screen and (min-width: 1024px) {
  .copyright a:hover {
    color: #9d989b;
  }
}

.useful-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.useful-links__link {
  padding-bottom: 20px;
}

.services {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.services .service {
  padding-bottom: 20px;
}

.subscribe-mail {
  padding: 2px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 1px solid #e1e1e1;
}
.subscribe-mail__email {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: 70%;
}
.subscribe-mail__email input {
  width: 100%;
}
.subscribe-mail__email input:focus {
  outline: none;
}
.subscribe-mail__btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: 30%;
}

@media only screen and (max-width: 768px) {
  .footer__links {
    flex-direction: column;
  }
  .footer .link {
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
